/* Global styles */

:root {
  --primary-color: #fbfbfb;
  --secondary-color: #000000;
  --accent-color: #13b4b6;
  --opaque-color: rgba(255, 255, 255, 0.7);
}

/* CSS style reset by https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Smooth Scroll to different sections of page */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(238, 238, 238, 1) 100%
  );
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* =================================================================*/

.container {
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
}

p {
  font-size: 18px;
}

a {
  text-decoration: none;
  color: var(--secondary-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 2rem;
}

.active {
  color: var(--accent-color);
  border-bottom: 2px solid var(--secondary-color);
}

/* Header */

.navbar-main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 85px;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: var(--secondary-color);
}

.navbar-main a img {
  height: 65px;
}

.navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar ul li a {
  text-transform: uppercase;
  color: var(--primary-color);
  margin: 0 10px;
}

.navbar ul li a:hover {
  color: var(--accent-color);
  transition: 0.3s ease-in-out;
}

/* Showcase */

.showcase-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background: radial-gradient(
      circle,
      rgba(255, 255, 255, 0) 0%,
      rgba(0, 0, 0, 1) 100%
    ),
    url(../images/bg-image-fern.jpg);
  background-size: cover;
  background-position: center;
  color: #fff;
}

.showcase-main h2 {
  font-size: 5em;
  font-weight: 300;
  text-transform: uppercase;
}

.showcase-main p {
  font-size: 1.4em;
  font-weight: 100;
  margin-top: 15px;
  font-weight: bold;
  color: rgba(255 255 255 / 0.9);
}

.arrow-down {
  color: var(--opaque-color);
  font-size: 3.5em;
  margin-top: 225px;
}

.arrow-down:hover {
  transition: 500ms ease-in-out;
  color: var(--accent-color);
}

/* About */

.about-me-header {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.about-me-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.about-me-main h3 {
  margin-bottom: 20px;
  font-size: 2em;
}

.about-me-main img {
  width: 250px;
  border-radius: 50%;
  border: 4px solid var(--secondary-color);
  margin-bottom: 50px;
}

.about-me-main p {
  margin-bottom: 50px;
}

.about-me-main h4 {
  font-size: 2rem;
  margin-bottom: 10px;
  padding: 0;
}

.tech-stack {
  margin: 50px 0;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  font-size: 5rem;
}

/* Work header */

.work-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin-bottom: 50px;
}

.work-header h3 {
  font-size: 2em;
}

/* Cards */

.stacked {
  display: grid;
}

.stacked > * {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.card-container {
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
}

.work-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr)); */
  gap: 20px;
  padding-bottom: 100px;
}

.card {
  border-radius: 6px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.card:nth-child(1) {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
}

.card-img {
  width: 100%;
  aspect-ratio: 1 / 0.75;
  object-fit: cover;
  border-radius: 6px;
}

.card-content {
  background-color: #fff;
  color: var(--secondary-color);
  align-self: end;
  padding: 0.5rem;
  text-align: center;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.card-title {
  color: var(--secondary-color);
  font-size: 1.25rem;
  text-transform: uppercase;
}

.card-description {
  font-size: 1.05rem;
}

/* Passion */

.passion-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.passion-main-container {
  display: flex;
  flex: 1;
  height: 500px;
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
}

.passion-image {
  width: 250px;
  border-radius: 25%;
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.content-container i {
  font-size: 5rem;
  border-radius: 50%;
  margin-bottom: 30px;
  color: var(--accent-color);
}

.passion-content h4 {
  margin-bottom: 20px;
}

.passion-content p {
  padding: 10px;
}

/* Footer */

.main-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

/* Form */

.contact-form-container {
  display: flex;
  align-items: center;
  height: 70vh;
}

.main-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  margin: 0 auto;
  border: 2px solid var(--secondary-color);
  background-color: var(--primary-color);
  padding: 20px 20px;
}

.main-form h4 {
  align-self: center;
  margin-bottom: 20px;
}

.main-form label {
  align-self: flex-start;
  margin-bottom: 5px;
  margin-left: 5px;
}

.main-form input {
  margin-bottom: 5px;
  padding: 10px;
  border: none;
  background-color: var(--primary-color);
  border-bottom: 2px solid var(--secondary-color);
}

.main-form input:focus {
  outline: none;
}

.btn-form {
  align-self: stretch;
  padding: 10px;
  margin-top: 20px;
  border: none;
  background-color: var(--accent-color);
  color: var(--primary-color);
}

.btn-form:hover {
  background-color: var(--secondary-color);
}

.back-to-top {
  text-align: center;
  height: 30px;
}
