/* Global styles */

:root {
  --primary-color: #fbfbfb;
  --secondary-color: #000000;
  --accent-color: #13b4b6;
  --opaque-color: rgba(255, 255, 255, 0.7);
}

/* CSS style reset by https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Smooth Scroll to different sections of page */
html {
  scroll-behavior: smooth;
  scroll-padding-top: 50px;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(238, 238, 238, 1) 100%
  );
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Container utility */

.container {
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
}

/* Default styles */

p {
  font-size: 18px;
}

a {
  text-decoration: none;
  color: var(--secondary-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 2rem;
  text-transform: uppercase;
}

/* Top Header and navigation */

.navbar-main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: var(--secondary-color);
}

.navbar-main a img {
  height: 45px;
}

.navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.navbar ul li a {
  text-transform: uppercase;
  color: var(--primary-color);
  margin: 0 10px;
}

.navbar ul li a:hover {
  color: var(--accent-color);
  transition: 0.3s ease-in-out;
}

/* Showcase and hero */

.showcase-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 94vh;
  background: radial-gradient(
      circle,
      rgba(255, 255, 255, 0) 0%,
      rgba(0, 0, 0, 1) 100%
    ),
    url(../images/bg-image-fern.jpg);
  background-size: cover;
  background-position: center;
  color: #fff;
}

.showcase-main h2 {
  font-size: 5em;
  font-weight: 300;
  text-transform: uppercase;
}

.showcase-main p {
  font-size: 1.4em;
  margin-top: 15px;
  font-weight: bold;
  color: rgba(255 255 255 / 0.8);
}

.arrow-down {
  color: var(--opaque-color);
  font-size: 3.5em;
  margin-top: 225px;
}

.arrow-down:hover {
  transition: 500ms ease-in-out;
  color: var(--primary-color);
}

/* About section */

.about-me-header {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.about-me-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.about-me-main h3 {
  font-size: 2em;
}

.about-me-main img {
  width: 250px;
  border-radius: 50%;
  border: 4px solid var(--secondary-color);
  margin-bottom: 50px;
}

.about-me-main > p {
  margin-bottom: 20px;
}

.about-me-main p > a {
  color: var(--accent-color);
  text-decoration: underline;
}

.about-me-main > h4 {
  font-size: 2rem;
  margin-bottom: 10px;
  padding: 0;
}

.tldr-header {
  font-size: 1.5rem;
  background-color: #c9c9c9;
  width: 70%;
  padding-top: 20px;
  border-radius: 5px 5px 0 0;
}

.tldr {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  padding: 0 20px 20px;
  margin-bottom: 30px;
  background-color: #c9c9c9;
  border-radius: 0 0 5px 5px;
}

.tldr p {
  padding: 10px;
  color: rgba(0 0 0 / 0.5);
}

/* Skills List */

.skills-section-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills-list-container {
  display: flex;
  justify-content: stretch;
  gap: 30px;
}
.skills-section-content {
  display: flex;
  justify-content: center;
  margin: 20px 0 40px;
}

.skills-title h5 {
  font-size: 1rem;
  text-align: center;
}

.skills-list {
  display: flex;
  flex-direction: column;
  width: 200px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

/* Work section header */

.work-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin-bottom: 50px;
}

.work-header h3 {
  font-size: 2em;
}

.work-header p {
  font-size: 14px;
}

/* Work Cards */

.work-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 100px;
  gap: 25px;
}

.card-1 {
  grid-column: 1 / 3;
}

.card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  border-radius: 15px;
}

.card img {
  aspect-ratio: 1 / 0.5;
  object-fit: cover;
  object-position: top;
  width: 100%;
  border-radius: 15px 15px 0px 0px;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--primary-color);
  padding: 15px;
  position: relative;
  height: 250px;
  border-radius: 0px 0px 15px 15px;
}

.card-title {
  font-size: 1.5rem;
}

.card-description {
  font-size: 18px;
}

.btn-container {
  display: flex;
  align-items: flex-end;
  position: absolute;
  bottom: 20px;
}

.btn-card {
  border: none;
  border-radius: 5px;
  padding: 15px 30px;
  margin: 0 15px;
  font-weight: bold;
  background-size: 175% auto;
  background-image: linear-gradient(
    to right,
    rgba(19, 180, 182, 1) 0%,
    rgba(10, 204, 153, 1) 51%,
    rgba(19, 180, 182, 1) 100%
  );
  box-shadow: rgba(0, 0, 0, 0.15) 0px 14px 28px,
    rgba(0, 0, 0, 0.05) 0px 10px 10px;
  transition: 500ms;
}

.btn-card > a {
  color: var(--primary-color);
}

.btn-card:hover {
  background-position: right center;
}

/* Passion section */

.passion-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.passion-main-container {
  display: flex;
  flex: 1;
  height: 500px;
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.fa-user,
.fa-code,
.fa-crop {
  font-size: 4.8rem;
  color: var(--secondary-color);
  display: block;
  background: -webkit-linear-gradient(
    90deg,
    rgba(19, 180, 182, 1) 0%,
    rgba(10, 204, 153, 1) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 30px;
}

.passion-content h4 {
  font-size: 1.3rem;
  margin-bottom: 23px;
}

.passion-content p {
  padding: 15px;
}

/* Contact Social icons */

.contact-form-container {
  display: flex;
  justify-content: center;
  margin: 0px auto 100px auto;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  border-left: 2px solid #000;
  background: rgb(19, 180, 182);
  background: linear-gradient(
    90deg,
    rgba(19, 180, 182, 1) 0%,
    rgba(10, 204, 153, 1) 100%
  );
  color: var(--primary-color);
  padding: 20px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.details a {
  display: flex;
  align-items: center;
  color: var(--primary-color);
  font-size: 4rem;
  margin-bottom: 10px;
}

/* Contact Form entry fields */

.main-form {
  display: flex;
  flex-direction: column;
  width: 60%;
  border-right: 2px solid #000;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: var(--primary-color);
  padding: 20px 20px;
}

.main-form h4 {
  align-self: center;
  margin-bottom: 20px;
}

.main-form label {
  align-self: flex-start;
  margin-bottom: 5px;
  margin-left: 5px;
}

.main-form input {
  margin-bottom: 5px;
  padding: 10px;
  background-color: #f8f8f8;
  border-radius: 5px;
}

.main-form input:focus,
.textarea-form:focus {
  outline: none;
}

.textarea-form {
  margin-bottom: 5px;
  padding: 10px;
  background-color: #f8f8f8;
  border-radius: 5px;
  border: 2px solid var(--secondary-color);
}

.btn-form {
  cursor: pointer;
  align-self: stretch;
  padding: 10px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  color: var(--primary-color);
  background-size: 200% auto;
  background-image: linear-gradient(
    to right,
    rgba(19, 180, 182, 1) 0%,
    rgba(10, 204, 153, 1) 51%,
    rgba(19, 180, 182, 1) 100%
  );
  transition: 500ms;
}

.btn-form:hover {
  background-position: right center;
}

/* Back to top arrow nav */

.back-to-top {
  text-align: center;
  margin-bottom: 10px;
}

.back-to-top i {
  font-size: 4rem;
  color: rgba(0, 0, 0, 0.4);
  transition: 0.3s ease-in-out;
}

.back-to-top i:hover {
  color: rgba(0, 0, 0);
}

/* Main Footer */

.main-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

/* Responsive Queries */

@media screen and (max-width: 960px) {
  html {
    scroll-padding-top: 100px;
  }

  .nav-anchor-utility {
    height: 75px;
    margin-bottom: 10px;
  }

  .showcase-main h2 {
    font-size: 4rem;
  }

  .tldr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .work-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .card-1 {
    grid-column: 1 / 2;
  }

  .card-content {
    display: flex;
    justify-content: flex-start;
    position: relative;
    height: 200px;
    order: 2;
  }

  .card-content h3 {
    padding-top: 10px;
  }

  .btn-container {
    position: absolute;
    bottom: 15px;
  }

  .btn-card {
    padding: 10px 20px;
  }

  .contact-form-container {
    width: 100%;
  }

  .main-form {
    width: 100%;
  }

  .details a {
    font-size: 3rem;
  }
}

@media screen and (max-width: 768px) {
  .navbar-main {
    display: flex;
    flex-direction: column;
    height: auto;
    padding-top: 10px;
  }

  .showcase-main h2 {
    font-size: 3.5rem;
  }

  .about-me-header {
    height: 65px;
  }

  .skills-list-container {
    display: flex;
    flex-direction: column;
  }

  .section-title {
    margin: 30px;
  }

  .work-grid {
    padding: 0;
  }

  .passion-header {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .passion-main-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: auto;
    margin-bottom: 100px;
  }

  .content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .content-container i {
    font-size: 3rem;
    border-radius: 50%;
    margin-top: 10px;
  }

  .passion-content h4 {
    font-size: 1.3rem;
    margin: 0;
  }

  .passion-content p {
    padding: 10px;
    width: 100%;
    margin: 0px auto;
  }

  .contact-form-container {
    width: 100%;
  }

  .main-form {
    width: 100%;
  }

  .details a {
    font-size: 2.5rem;
  }

  .back-to-top i {
    font-size: 3.5rem;
  }
}

@media screen and (max-width: 500px) {
  .nav-anchor-utility {
    height: 85px;
    margin-bottom: 10px;
  }

  .showcase-main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 70px;
  }

  .showcase-main h2 {
    font-size: 2.5rem;
  }

  .showcase-main p {
    font-size: 1.2rem;
  }

  .tldr-header {
    width: 100%;
  }

  .tldr {
    width: 100%;
  }

  .work-header {
    margin: 0;
  }

  .work-grid {
    display: grid;
    grid-template-columns: 1fr;
  }

  .card-title {
    font-size: 1.2rem;
  }

  .card-description {
    font-size: 16px;
  }

  .main-form h4 {
    align-self: center;
    font-size: 1.5rem;
  }

  .main-form {
    width: 90%;
  }
}

@media screen and (max-width: 400px) {
  .card-title {
    font-size: 1rem;
  }

  .card-description {
    text-align: center;
  }
  .btn-card {
    margin: 0 5px;
    font-size: 14px;
  }
}
